<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir solicitudes a la carpeta web
    RewriteRule ^$ web/app.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ web/$1 [L]

    # Manejar el front controller
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    RewriteRule ^(.*)$ web/app.php [QSA,L]
</IfModule>
